h1 {
  text-align: center;
}
.conteneur { position: relative;
  margin: auto;
  background-color: #CACACA;
  width: 600px;
  height: 670px;
  border-radius: 5px;
  text-align: center;
  border-bottom : 10px solid #636363;
  border-top : 10px solid #D5D5D5;
  border-left : 10px solid #BABABA;
  border-right : 10px solid #8C8D8E;
}
#bouton {
  width: 200px;
  height: 50px;

}

#i1 {
  margin-bottom: 5px;
  margin-top: 50px;
}
#i2 {
  margin-bottom: 5px;
}
#i3 {
  margin-bottom: 15px;
}
#img1{
  width: 300px;
  border-left-style: solid;
}
.putaclic {position: relative;
  top: 20px;
  display : flex;
  border-style: solid;
}
.texte {
  display: flex;
  flex-direction: column;
}
.n2 {position: relative;
  top: 30px;
  display : flex;
  border-style: solid;
}
.texte2 {
  display: flex;
  flex-direction: column;

}
#img2 {
  border-right-style: solid;
  width: 300px;
}
.images {
  display: flex;
  height: 100px;

}
.texteimages {
  display: flex;
  justify-content: space-around;
}
.exercice2 {
  border-style: solid;
}
#recherche {
  display: flex;
  max-width: 100%;
}
#jeanmi {
  width: 180px;
}

@media screen and (max-width: 400px) {
  .conteneur {
    width: 320px;
  }
}
